<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
  <description>The coding standard for Miaoxing.</description>

  <rule ref="Miaoxing">
  </rule>

  <exclude-pattern type="relative">docs/*</exclude-pattern>
  <exclude-pattern type="relative">plugins/*</exclude-pattern>
  <exclude-pattern type="relative">storage/*</exclude-pattern>

  <!-- 前端类库带有 PHP 文件，如 ueditor -->
  <exclude-pattern type="relative">public/libs/*</exclude-pattern>

  <!-- 暂用于 miaoxing/dev -->
  <exclude-pattern type="relative">tests/Sniffs/*/*Fixture.php</exclude-pattern>
</ruleset>
